<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::meta">
<body>
	<header th:replace="layout/layout::header"></header>
	
	<div class="container  py-4">
		<div class="card bg-danger">
			<div class="card-header"> Acceso Denegado</div>
				
			<div class="card-body">
				<h5 class="card-title"><span th:text="${#authentication.name}"></span> no tiene permisos</h5>
				<a th:href="@{/home}" class="btn btn-outline-light" role="button">It a página de inicio</a>
			</div>
		</div>

	</div>
	
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>